<div class="container-fluid">
    <H1> Realogy Title Group : Add Resource Access Request (RAR) </H1>
    <form #userForm="ngForm">


<!--         {{userForm.value | json}}
        <hr />
        {{rarModel | json }}
-->
        <div class="form-group">
            <label> Requested By</label>
            <input type="text" #reqBy="ngModel" required class="form-control" name = "requestedBy" [(ngModel)]="rarModel.requestedBy"
                    [class.is-invalid]="reqBy.invalid && reqBy.touched">
        </div>
        <small class="text-danger" [class.d-none]="reqBy.valid || reqBy.untouched">Name is a required field</small>
        <!-- in the class = form control, we can also add the is-invalid class apply but it does not do it conditionally. the syntax for 
             conditional appliction is [class.is-invalid] = tempate variable.property-->

       <!--  {{reqBy.className}} (actual syntax; remember to unbind the ngModel if you want to follow this approach 
       
        above syntax relies on the template variables's properties while the below syntax relies 
            on binding to the ngModel properties to return true or false  
       {{reqBy.touched}}
       {{reqBy.pristine}}
       {{reqBy.valid}}
    
    -->

        <div class="form-group">
            <label> Type of Repository *</label>
            <select class="custom-select" name="repositoryType" [(ngModel)]="rarModel.repositoryType">
                <option selected>TFS</option>
            <!---- <option *ngFor="let repository of repositories">{{ repository }}</option> -->
            </select>
        </div>

        <div class="form-group">
            <label>Type of Request *</label>
            <select class="custom-select" name="requestType" [(ngModel)]="rarModel.requestType">
                <option selected>TFS New Branch</option>
                <option *ngFor="let type of types">{{ type }}</option> 
            </select>
        </div>

        <div class="form-group">
            <label>Need by* </label>
            <input type=date #needBy="ngModel" required name="needBy" class="form-control"  [(ngModel)]="rarModel.needBy" 
                    [class.is-invalid]="needBy.invalid && needBy.touched">
        </div>

        <div class="form-group">
            <label>Enter Phone Number </label>
            
            <input type="tel" #phoneNum="ngModel" pattern = "^\d{10}$" required class="form-control" name = "phoneNum" [(ngModel)]="rarModel.phoneNum"
                    [class.is-invalid]="phoneNum.invalid && phoneNum.touched">
                    <!-- patten is for 10 digits-->
                    
                <!--<small class="text-danger" [class.d-none]="phoneNum.valid || phoneNum.untouched">Phone Number is a required field & must be 10 digits</small>-->

                <div *ngIf = "phoneNum.errors && (phoneNum.invalid || phoneNum.touched)">
                    <small class="text-danger" *ngIf="phoneNum.errors.required"> Phone Number is a required field </small>
                    <small class="text-danger" *ngIf="phoneNum.errors.pattern"> Phone Number must be 10 digits</small>
                </div>
        </div>

        <div class="form-group">
            <label>Application *</label>
            <select class="custom-select" name="applicationName" [(ngModel)]="rarModel.applicationName">
                <option selected>Lights On App Group</option>
                <option *ngFor="let app of applications">{{ app }}</option> 
            </select>
        </div>

        <div class="form-group">
            <label> Branch Name *</label>
            <input type="text" class="form-control" name = "branchName" [(ngModel)]="rarModel.branchName">
        </div>

        <div class="form-group">
            <label> Version *</label>
            <input type="text" class="form-control" name = "versionNum" [(ngModel)]="rarModel.versionNum">
        </div>

        <div class="form-check">
            <label class="form-check-label"> Users (comma separated) *</label>
            <input type="text" class="form-control" name="usersList" [(ngModel)]="rarModel.usersList">
        </div> 
    
        
        <div class="form-group">
            <label class="form-check-label"> Approving Manager *</label>
            <select class="custom-select" name="approvingManager" [(ngModel)]="rarModel.approvingManager">
                <option *ngFor="let approver of approvers">{{ approver }}</option>
            </select>
         </div>

    
         <div class="form-check">
            <label class="form-check-label"> Comments</label>
            <input type="text" class="form-control" name="commentsSection" [(ngModel)]="rarModel.commentsSection">
        </div> 

       
       <button class="btn btn-primary"> Submit RAR </button>
       <button class="btn btn-primary"> Reset Form </button>


    </form>
</div>
