<div class="container-fluid">
    <H1> Realogy Title Group : Add Resource Access Request (RAR) </H1>
    <form #userForm="ngForm">


        {{userForm.value | json}}
        <hr />
        {{rarModel | json }}

        <div class="form-group">
            <label> Requested By</label>
            <input type="text" class="form-control" name = "requestedBy" [(ngModel)]="rarModel.requestedBy">
        </div>

        <div class="form-group">
            <label> Type of Repository *</label>
            <select class="custom-select" name="repositoryType" [(ngModel)]="rarModel.repositoryType">
                <option selected>TFS</option>
            <!---- <option *ngFor="let repository of repositories">{{ repository }}</option> -->
            </select>
        </div>

        <div class="form-group">
            <label>Type of Request *</label>
            <select class="custom-select" name="requestType" [(ngModel)]="rarModel.requestType">
                <option selected>TFS New Branch</option>
                <option *ngFor="let type of types">{{ type }}</option> 
            </select>
        </div>

        <div class="form-group">
            <label>Application *</label>
            <select class="custom-select" name="applicationName" [(ngModel)]="rarModel.applicationName">
                <option selected>Lights On App Group</option>
                <option *ngFor="let app of applications">{{ app }}</option> 
            </select>
        </div>

        <div class="form-group">
            <label> Branch Name *</label>
            <input type="text" class="form-control" name = "branchName" [(ngModel)]="rarModel.branchName">
        </div>

        <div class="form-group">
            <label> Version *</label>
            <input type="text" class="form-control" name = "versionNum" [(ngModel)]="rarModel.versionNum">
        </div>

        <div class="form-check">
            <label class="form-check-label"> Users (comma separated) *</label>
            <input type="text" class="form-control" name="usersList" [(ngModel)]="rarModel.usersList">
        </div> 
    
        
        <div class="form-group">
            <label class="form-check-label"> Approving Manager *</label>
            <select class="custom-select" name="approvingManager" [(ngModel)]="rarModel.approvingManager">
                <option *ngFor="let approver of approvers">{{ approver }}</option>
            </select>
         </div>

    
         <div class="form-check">
            <label class="form-check-label"> Comments</label>
            <input type="text" class="form-control" name="commentsSection" [(ngModel)]="rarModel.commentsSection">
        </div> 

       
       <button class="btn btn-primary"> Submit RAR </button>
       <button class="btn btn-primary"> Reset Form </button>


    </form>
</div>
